.navbar td { 
      padding-left: 16px;
      padding-right: 16px;
}


div.bot {
	padding-top: 5px;
	text-align:center;
	font-size:110%;
	margin-bottom: 5px;
}

img.float-left {/* image float */
	float: left;
	padding-right:	10px;
	}

p.desc {
	margin: 0px 0px 0px 50px;
	width:	80%;
	font-style:	italic;
}

